<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSH Temporary Session Generator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>SSH Temporary Session Generator</h1>
      <p>Logged in as {{ username }}</p>
      {% if admin %}
      <a href="/admin">Admin Panel</a>
      {% endif %}
      <button id="logoutButton" class="redbutton">Logout</button>
      {% if authorized %}
        <p>You are authorized to generate SSH sessions.</p>
        <button id="generateSessionBtn">Generate SSH Session</button>
      {% else %}
        <p>You are not authorized to generate SSH sessions.</p>
        <p>Please contact an administrator to request access.</p>
      {% endif %}
      <div id="result" class="result"></div>
      <div id="containers" class="result clearfix">
        <h3>Your Containers:</h3>
      </div>
    </div>
    <div id="connectionPopup" class="popup">
      <div class="popup-content">
          <span class="close-popup">&times;</span>
          <h2>Connection Details</h2>
          <div id="connectionDetails"></div> <!-- This will be populated dynamically -->
      </div>
  </div>
    <script src="/static/script.js"></script>
  <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
      <center>
        <p class="restart-text">Restarting Container...</p>
      <center><div class="spinner"></div></center>

    </div>
  </div>
  <div id="myModalCreate" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
      <center>
        <p class="restart-text">Creating Container...</p>
        <p>This might take a while.</p>
      <center><div class="spinner"></div></center>

    </div>
    <div id="myModalDelete" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
        <center>
          <p class="restart-text">Deleting Container...</p>
        <center><div class="spinner"></div></center>
  
      </div>
  </div>
  </body>
</html>
