<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSH Temporary Session Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@5.9.0/dist/css/coreui.min.css" rel="stylesheet" integrity="sha384-Ve7hQpTs/xy/JZqnD4/SWFwF0wi2txt/YGb48ABl4PnkLahmKdTS0EMBgFX2v4Hr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@coreui/coreui-pro@5.9.0/dist/js/coreui.bundle.min.js" integrity="sha384-XdSQk/ZjKuv9tj9ytdSleLWzwx2LfqEmk1fS0MI6SdZvPSU+h+G09HaUNTEbR5m5" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/confirmationModal.css" />
  </head>
  <body>
    <div class="container">
      <h1>SSH Temporary Session Generator</h1>
      <p>Logged in as {{ username }}</p>
      {% if admin %}
      <br>
      <a href="/admin">Admin Panel</a><br>
      <a href="/apikey/dashboard">API Key</a><br>
      {% endif %}
      <button id="logoutButton" class="redbutton">Logout</button>
      {% if authorized %}
        <p>You are authorized to generate SSH sessions.</p>
        <select id="distro-select" name="distro">
          {% for key, distro in distros.items() %}
              <option value="{{ distro.id }}" {% if distro.default %}selected{% endif %}>
                  {{ distro.name }}
              </option>
          {% endfor %}
        </select>           
        <button id="generateSessionBtn">Generate SSH Session</button>
      {% else %}
        <p>You are not authorized to generate SSH sessions.</p>
        <p>Please contact an administrator to request access.</p>
      {% endif %}
      <div id="result" class="result"></div>
      <div id="containers" class="result clearfix">
        <h3>Your Containers:</h3>
      </div>
    </div>
    <div id="myModalConnection" class="modal">
      <div class="modal-content modal-conndetails">
          <span class="close">&times;</span>
          <p class="restart-text">Connection Details:</p>
          <div id="connectionDetails"></div> <!-- This will be populated dynamically -->
      </div>
  </div>
  <div class="scoped-container">
    <div id="confirmModal" class="modal">
      <div class="modal-content" id="connmodal-content">
          <span class="connclose" id="connclose">&times;</span>
          <h2>Confirmation</h2>
          <p></p> <!-- This will be filled by confirmModal -->
          <div class="button-group">
              <button id="okBtn" class="modern-btn primary">OK</button>
              <button id="cancelBtn" class="modern-btn secondary">Cancel</button>
          </div>
      </div>
    </div>
  </div>
  <script src="/static/confirmationJs.js"></script>
  <script src="/static/script.js"></script>
  <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <center>
          <p class="restart-text">Restarting Container...</p>
          <div class="spinner"></div>
        </center>

    </div>
  </div>
  <div id="myModalCreate" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <center>
          <p class="restart-text">Creating Container...</p>
          <p>This might take a while.</p>
          <div class="progress">
            <div class="progress-bar" id="myProgressBar" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <script>
            let progressBar = document.getElementById("myProgressBar");
            let width = 0;
            let duration = 70000; // 70 seconds
            let intervalTime = 100; // Update every 100 milliseconds
            let increment = (intervalTime / duration) * 100; // Calculate the increment for each interval

            let id = setInterval(() => {
                if (width >= 100) {
                    clearInterval(id); // Stop when it reaches 100%
                } else {
                    width += increment; // Increment the width
                    progressBar.style.width = width + "%"; // Update the width of the progress bar
                    progressBar.setAttribute("aria-valuenow", width); // Update aria attribute for accessibility
                }
            }, intervalTime);
          </script>
          <div class="spinner"></div>
        </center>

    </div>
  </div>
  <div id="myModalDelete" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
          <center>
            <p class="restart-text">Deleting Container...</p>
            <div class="spinner"></div>
          </center>
  
      </div>
  </div>
  <div id="myModalStart" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <center>
          <p class="restart-text">Starting Container...</p>
          <div class="spinner"></div>
        </center>

    </div>
</div>
<div id="myModalStop" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <center>
        <p class="restart-text">Stopping Container...</p>
        <div class="spinner"></div>
      </center>

  </div>
</div>
  </body>
</html>
