#!/bin/bash

BASH_PROFILE="/config/.bash_profile"
BASH_RC="/config/.bashrc"

# Update the package index
apt-get update

# Install Python 3, pip, curl, and gcc
apt-get install -y python3 python3-pip curl gcc python3-dev build-essential

# Verify the installation
python3 --version
pip3 --version
curl --version

# Create the directory for the virtual environment if it doesn't exist
mkdir -p /etc/venv

# Create a virtual environment in /etc/venv
python3 -m venv /etc/venv

# Activate the virtual environment
source /etc/venv/bin/activate

if [ ! -f "$BASH_RC" ]; then
    echo "Creating $BASH_RC and adding 'echo \"hi\"'"
    echo 'source /etc/venv/bin/activate' > "$BASH_RC"
    echo 'echo "Your current internal IP address is "' >> "$BASH_RC"
    echo 'hostname -I' >> "$BASH_RC"
else
    echo "$BASH_RC already exists."
fi

if [ ! -f "$BASH_PROFILE" ]; then
    echo "Creating $BASH_PROFILE and adding sourcing for .bashrc"
    echo 'if [ -f /config/.bashrc ]; then' > "$BASH_PROFILE"
    echo '    source /config/.bashrc' >> "$BASH_PROFILE"
    echo 'fi' >> "$BASH_PROFILE"
    echo "Setting up colored environment"
    echo "alias ls='ls --color=auto'" >> "$BASH_PROFILE"
    echo "export PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '" >> "$BASH_PROFILE"
else
    echo "$BASH_PROFILE already exists."
fi

CRON_JOB="@reboot /etc/venv/bin/python3 /etc/agent/agent.py >> /var/log/agent.log 2>&1"
CRON_FILE="mycron"

crontab -l > $CRON_FILE 2>/dev/null

# Check if the cron job already exists
if ! grep -Fxq "$CRON_JOB" $CRON_FILE; then
    # Add the new cron job
    echo "$CRON_JOB" >> $CRON_FILE
    # Install the new cron file
    crontab $CRON_FILE
    echo "Cron job added successfully."
else
    echo "Cron job already exists."
fi

# Clean up temporary file
rm $CRON_FILE

# Verify that the virtual environment is activated and pip is available
pip --version
pip install websockets requests psutil

# Create the directory for the agent if it doesn't exist
mkdir -p /etc/agent

curl -o /etc/agent/agent.py {{ url }}/agent/download

echo "Virtual environment 'venv' created and activated at /etc/venv."
echo "Downloaded content from {{ url }}/agent/download to /etc/agent/agent.py."

echo "Install Script Complete"
